.chatbot-popup-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-family: "Roboto", sans-serif;
}

.chatbot-popup {
  width: 360px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chatbot-header {
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chatbot-header .close-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.chatbot-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chatbot-img {
  height: 32px;
  width: 32px;
  background: #fff;
  border-radius: 50%;
  position: relative;
}

.chatbot-info::after {
  content: " ";
  background-color: transparent;
  position: absolute;
  top: 35px;
  left: 34px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
}

.chatbot-body {
  padding: 12px;
  height: 420px;
  overflow-y: auto;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.chat-message {
  margin-bottom: 8px;
  padding: 6px;
  font-size: 14px;
  max-width: 60%;
  border-radius: 8px;
}

.chat-message.bot {
  border-top-left-radius: 0px;
  background-color: rgba(134, 144, 156, 0.2);
  align-self: flex-start;
  word-wrap: break-word;
}

.chat-message.user {
  border-top-right-radius: 0px;
  background-color: rgba(37, 211, 101, 0.2);
  align-self: flex-end;
  word-wrap: break-word;
}

.chatbot-footer {
  padding: 10px;
  display: flex;
  border-top: 1px solid #ddd;
}

.chatbot-footer input {
  flex: 1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.chatbot-footer button {
  margin-left: 4px;
  cursor: pointer;
  border: none;
  background: #fff;
}

.chatbot-footer button svg {
  height: 24px;
  width: 24px;
}

.chatbot-toggle {
  cursor: pointer;
  border: none;
  background: #fff;
  border-radius: 50%;
  transition: all;
  transition-duration: 0.3s;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.chatbot-toggle:hover {
  background: rgba(212, 212, 212, 0.2);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.toggle-icon {
  height: 48px;
  width: 48px;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */

/* .chatbot-popup {
  width: 400px;
}

.chatbot-body {
  max-height: 480px;
} */
